img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px;
}

.wp-caption-text {
    margin-bottom: 10px;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

#page {
    word-wrap: break-word;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg div.container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40px;
    }

    .grid-logo {
        grid-area: 1 / 2 / 2 / 3;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: grid;
    }

    ul.navbar-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
        grid-template-rows: 100px;
        grid-gap: 20px;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}