.jumbotron {
    margin-top: 4em;
}

/*---------------*/
/***** Ruby *****/
/*---------------*/
figure.effect-ruby {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid $custom-color-gold;
}

figure.effect-ruby img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #ffffff;
}

figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

figure.effect-ruby h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    font-family: Roboto;
    color: #40324c;
    text-align: center;
    font-size: 2.5vw;
    margin-top: -240px;
    font-weight: 600;
}

figure.effect-ruby div {
    margin: 5em 0 0;
    padding: inherit;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
    display: flex;
    justify-content: space-around;
}

figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-ruby:hover div {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

figure.effect-ruby-1 {
    grid-area: 1 / 1 / 2 / 3;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

figure.snip0077 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 170px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
}

figure.snip0077 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}

figure.snip0077 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 4px;
}

figure.snip0077 figcaption {
    top: 50%;
    left: 50px;
    right: 50px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

figure.snip0077 figcaption h2,
figure.snip0077 figcaption p {
    margin: 0;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 40px #ffffff;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0077 figcaption h2 {
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
}

figure.snip0077 figcaption h2 span {
    font-weight: 800;
}

figure.snip0077 figcaption p {
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.65;
}

figure.snip0077:before,
figure.snip0077:after {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: '';
    opacity: 0;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s,-webkit-transform 0.5s,-moz-transform 0.5s,-o-transform 0.5s,transform 0.5s;
}

figure.snip0077:before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.snip0077:after {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.snip0077 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip0077.blue {
    background: #0a212f;
}

figure.snip0077.red {
    background: #36100c;
}

figure.snip0077.yellow {
    background: #562e0a;
}

figure.snip0077:hover img,
figure.snip0077.hover img {
    opacity: 0.2;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.snip0077:hover figcaption h2,
figure.snip0077.hover figcaption h2,
figure.snip0077:hover figcaption p,
figure.snip0077.hover figcaption p {
    color: #ffffff;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.snip0077:hover:before,
figure.snip0077.hover:before,
figure.snip0077:hover:after,
figure.snip0077.hover:after {
    opacity: 0.8;
    -webkit-transform: scale(1);
    transform: scale(1);
}

div#content.container {
    background-color: #e2e2eb;
    border-radius: 4px;
}

div#content-columns {
    background-color: transparent;
}

.card-transparent {
    background-color: transparent;
}

div#wrapper-footer.wrapper {
    background-color: #beb1a0;
}

div#content.container figure.effect-ruby {
}

figure.effect-ruby a.btn {
    font-family: Roboto;
    font-size: 1vw;
    border-radius: 4px;
}

div#content.container figure.effect-ruby figcaption {
    margin-top: 100px;
}

div#content figure.effect-ruby figcaption h2 {
    margin-top: -236px;
    font-family: Roboto;
    font-size: 2vw;
}

div#content figure.effect-ruby figcaption p {
    margin-top: 22px;
}

.btn-visit {
    background: #E1455A;
    border: 2px solid rgba(0, 0, 0, 0);
    font-family: Roboto;
    color: #fefefe;
}