.jumbotron {
    margin-top: 4em;
}

/*---------------*/
/***** Ruby *****/
/*---------------*/
figure.effect-ruby {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #beb1a0;
    background-color: rgba(254, 254, 255, 0.94);
}

figure.effect-ruby img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    width: 100%;
    height: 100%;
    object-position: right;
    object-fit: contain;
}

figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

figure.effect-ruby h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    font-family: Roboto;
    color: #40324c;
    font-size: 1.2vw;
    font-weight: 700;
    text-align: center;
    margin-top: -15rem;
    width: 60%;
    text-shadow: 0px 1px 3px;
    padding: 5px;
}

figure.effect-ruby div {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-ruby:hover div {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

figure.snip0077 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 142px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
    border-radius: 4px;
}

figure.snip0077 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}

figure.snip0077 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 4px;
    height: 100%;
    margin-bottom: 0px;
}

figure.snip0077 figcaption {
    top: 50%;
    left: 50px;
    right: 50px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

figure.snip0077 figcaption h2,
figure.snip0077 figcaption p {
    margin: 0;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 40px #ffffff;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0077 figcaption h2 {
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
}

figure.snip0077 figcaption h2 span {
    font-weight: 800;
}

figure.snip0077 figcaption p {
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.65;
}

figure.snip0077:before,
figure.snip0077:after {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: '';
    opacity: 0;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s,-webkit-transform 0.5s,-moz-transform 0.5s,-o-transform 0.5s,transform 0.5s;
}

figure.snip0077:before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.snip0077:after {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.snip0077 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
}

figure.snip0077.blue {
    background: rgba(10, 33, 47, 0);
    width: 100%;
    height: 70%;
    box-shadow: 1px 2px 5px rgba(4, 3, 3, 0.72);
}

figure.snip0077.red {
    background: #36100c;
}

figure.snip0077.yellow {
    background: #562e0a;
}

figure.snip0077:hover img,
figure.snip0077.hover img {
    opacity: 0.2;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.snip0077:hover figcaption h2,
figure.snip0077.hover figcaption h2,
figure.snip0077:hover figcaption p,
figure.snip0077.hover figcaption p {
    color: #ffffff;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.snip0077:hover:before,
figure.snip0077.hover:before,
figure.snip0077:hover:after,
figure.snip0077.hover:after {
    opacity: 0.8;
    -webkit-transform: scale(1);
    transform: scale(1);
}

div#content.container {
    background-color: #e2e2eb;
    border-radius: 4px;
    width: 90%;
}

div#content-columns {
    background-color: transparent;
}

.card-transparent {
    background-color: transparent;
}

div#wrapper-footer.wrapper {
    background-color: #c0b3a0;
    box-shadow: inset 0px 2px 8px 3px #30343c;
}

div#content.container figure.effect-ruby {
    height: 11em;
}

figure.effect-ruby a.btn {
    font-family: Roboto;
    font-size: 1vw;
    border-radius: 4px;
}

div#content.container figure.effect-ruby figcaption {
    margin-top: 100px;
}

div#content figure.effect-ruby figcaption h2 {
    margin-top: -300px;
    font-family: Roboto;
    font-size: 1.3vw;
    width: 70%;
}

div#content figure.effect-ruby figcaption p {
    margin-top: 22px;
}

.btn-visit {
    background: #E1455A;
    border: 2px solid rgba(0, 0, 0, 0);
    font-family: Roboto;
    color: #fefefe;
}

.slide-out-blurred-top {
    -webkit-animation: slide-out-blurred-top .45s cubic-bezier(.755,.05,.855,.06) both;
    animation: slide-out-blurred-top .45s cubic-bezier(.755,.05,.855,.06) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-10 19:53:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-out-blurred-top{
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(.2);
        transform: translateY(-1000px) scaleY(2) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

@keyframes slide-out-blurred-top{
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(.2);
        transform: translateY(-1000px) scaleY(2) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top .5s cubic-bezier(.23,1.000,.32,1.000) both;
    animation: slide-in-blurred-top .5s cubic-bezier(.23,1.000,.32,1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-10 19:55:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-blurred-top{
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top{
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.carousel-indicators2 a.btn {
    background-color: #e2e2eb;
    font-family: Roboto;
    font-size: 1vw;
    margin-left: 1em;
    margin-right: 1em;
    color: #382b49;
    width: 15rem;
    border-radius: 4px;
}

.carousel-indicators a.btn {
    background-color: #e2e2eb;
    font-family: Roboto;
    font-size: 1vw;
    margin-left: 1em;
    margin-right: 1em;
    color: #382b49;
    width: 15rem;
    border-radius: 4px;
}

.effect-ruby-5:nth-of-type(2) {
    grid-row-end: span 1;
    grid-column-end: span 1;
}

.effect-ruby-1:nth-of-type(1) {
    grid-column: span 3;
}

.effect-ruby-1:nth-of-type(3) {
    grid-column-end: span 2;
}

.effect-ruby-1:nth-of-type(4) {
    grid-column-end: span 2;
}

.effect-ruby-2:nth-of-type(1) {
    grid-column-end: span 2;
}

.effect-ruby-2:nth-of-type(2) {
    grid-column-end: span 2;
}

.effect-ruby-2:nth-of-type() {
    grid-column-end: span 2;
}

.effect-ruby-2:nth-of-type(4) {
    grid-column-end: span 3;
}

.card-block h6 {
    font-family: Playfair Display;
    font-size: 1.3vw;
    font-weight: 600;
    color: #382b49;
}

div.grid:hover {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 4fr;
    grid-template-rows: 255px 255px;
    grid-gap: 20px;
    transition: all 1s ease;
}

div.grid {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 4fr;
    grid-template-rows: 255px 255px;
    grid-gap: 10px;
    transition: all 1s ease;
}

.card-title a {
    color: #382b49;
}

div.card-block a {
    font-family: Playfair Display;
    font-size: 1.2vw;
    color: #382b49;
    font-weight: normal;
    text-shadow: 0px 1px 3px rgba(56, 43, 73, 0.7);
    display: flex;
    text-decoration: underline;
    flex-direction: column;
    align-items: center;
}

#carousel2 .carousel-indicators a.btn:hover {
    background-color: #e14658;
    font-family: Roboto;
    color: #ffffff;
}

#carousel2 .carousel-indicators a.btn {
    background-color: #3f3250;
    font-family: Roboto;
    color: #ffffff;
}

.card-block p {
    color: main-purple;
}

.card-block p {
    font-family: Roboto;
    font-size: 1vw;
    color: #382b49;
    margin-top: 5px;
    margin-bottom: 0;
    overflow: hidden;
    text-shadow: 1px 1px 3px rgba(56, 43, 73, 0.8);
    max-block-size: 10em;
}

#wrapper-footer .nav-item a.nav-link {
    font-family: Roboto;
    color: #382b49;
    font-weight: normal;
}